@import url('https:fonts.googleapis.com/css2?family=Inter:wght@400;500;700&dispaly=swap');
root{
  --primary-color: #C92071;
  --secondary-color: #B5B6B8;
  --light-gray:#F5F5F5;
  --dark-gray:#474747;
  --write: #FFFFFF;
  --off-write: #F9F8FE;
  --text-color: #666666;
  --font-family: 'Inter', sans-serif;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body{
  background-color: var(--off-write);
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}

button{
  cursor: pointer;
  border: none;
  background: none;
}
container{
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}